html{
	background: url("Background.png") no-repeat center center fixed ;
	Background-size:cover;
}

body{
	margin: 0px;
}

#main{
	background-color: #cccccc;
	width: 400px;
	margin: 0 auto 0 auto;
	padding: 10px;
	height:66.1%;
	padding-top:20px;
	z-index: 0; position:relative;
}
form{
	z-index: 1; position:relative;

}
#header, #footer{
	background-color: #000000;
	color: White;
	padding-top: 20px;
	height: 130px;
	
}
#footer{
	left:0;
	bottom:-200;
	
}